*.jar
*.swp
*.class
*.log
.gradle
build/
*temp_total_textfile
bytecount/byte_count_output/
jflex-*
output*
python/temp*
BinaryLexer.java
BinaryLexer.java~

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
